

h2{
    margin-top: 40px;
    text-align: center;
    color: #ff0080;
}
.card{
    border: 2px solid rgba(238, 238, 238, 0.507);
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
}
img{
    width: 100%;
}
p{
    text-align: left;
}
label{
    font-weight: bold;
    margin-right: 5px;
    font-size: 20px;
    color: #206ea6;
}
.btn{
    margin-right: 8px;
}


