

h2{
    text-align: center;
    color: pink;
}
.card{
    display: inline-block;
    width: 30%;
    border: 2px solid rgba(238, 238, 238, 0.507);
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
}
img{
    width: 100%;
}
p{
    text-align: left;
}

.btn{
    margin-right: 8px;
}


