
 <h2>All Task</h2>

    <input type="text" name="username" class="form-control" #username ="ngModel" ngModel/>
    <button type="submit" (click)="getAllTasks(username.value)">Search</button>
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="card " *ngFor="let task of tasks" (click)="getSingleTask(task.id)">
                <img class="card-img-top" alt="Wild Landscape" 
                src= "https://task.ecmpp.com/storage/{{task.image.replace('public/', '')}}" 
                alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{task.title}}</h5>
                  <p class="card-text">{{task.content}}</p>
                  <span>{{task.username}}</span>
                    <br/>
                  <button class="btn btn-success" (click)="goUpdate($event, task.id, task.title, task.content)">Update</button>
                  <button class="btn btn-danger" (click)="deleteTask($event, task.id)">Delete</button>
                </div>
              </div>
        </div>
    </div>
